# Import librairies

In [1]:
import pandas as pd
import numpy as np

# Read csv

In [2]:
df = pd.read_csv('imdb_top_1000.csv')

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,Crime,9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,Action,9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,Crime,9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,Crime,9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,Comedy,7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,1378835
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,Drama,7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,13780224
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,Drama,7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,30500000
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,UA,97 min,Drama,7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,13780424
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,UA,86 min,Crime,7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,30500200

# Information about the dataframe

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    1000 non-null   object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          1000 non-null   int64
dtypes: float64(2), int64(2), object(12)
memory usage: 125.1+ KB

# Selecting the columns we need

In [6]:
df= df[['Series_Title','Genre','IMDB_Rating','Star1','Star2','Star3','Star4','Director','Gross']]
df.head(5)

,Series_Title,Genre,IMDB_Rating,Star1,Star2,Star3,Star4,Director,Gross
0,The Shawshank Redemption,Drama,9.3,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,Frank Darabont,28341469
1,The Godfather,Crime,9.2,Marlon Brando,Al Pacino,James Caan,Diane Keaton,Francis Ford Coppola,134966411
2,The Dark Knight,Action,9.0,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Christopher Nolan,534858444
3,The Godfather: Part II,Crime,9.0,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,Francis Ford Coppola,57300000
4,12 Angry Men,Crime,9.0,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,Sidney Lumet,4360000

# Counting the titles

In [7]:
df['Series_Title'].value_counts()

Drishyam                    2
The Shawshank Redemption    1
Awakenings                  1
Tombstone                   1
The Sandlot                 1
                           ..
Guardians of the Galaxy     1
Blade Runner 2049           1
Her                         1
Bohemian Rhapsody           1
The 39 Steps                1
Name: Series_Title, Length: 999, dtype: int64

# Counting the genre in the ranking

In [8]:
df ['Genre'].value_counts()

Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
Name: Genre, dtype: int64

# Who is the star with the most leading roles ?

In [13]:
df['Star1'].value_counts()

Tom Hanks          12
Robert De Niro     11
Al Pacino          10
Clint Eastwood     10
Humphrey Bogart     9
                   ..
Preity Zinta        1
Javier Bardem       1
Ki-duk Kim          1
Vladimir Garin      1
Robert Donat        1
Name: Star1, Length: 660, dtype: int64

# Who is the star with the most second roles ?

In [14]:
df['Star2'].value_counts()

Emma Watson          7
Matt Damon           5
Kate Winslet         4
Ian McKellen         4
Chris Evans          4
                    ..
Viola Davis          1
Morena Baccarin      1
Shahab Hosseini      1
Simon Yam            1
Madeleine Carroll    1
Name: Star2, Length: 841, dtype: int64

# What are the movies rated  a 9.0 ?

In [25]:
fil = df['Star1'] == 'Denzel Washington'
df[fil]
df.loc[fil, 'Series_Title' ]

622      American Gangster
644    Remember the Titans
782            Man on Fire
802           Training Day
820              Malcolm X
921             Inside Man
952          The Hurricane
Name: Series_Title, dtype: object

# Checking how many times D. W has been mentionned

In [31]:
df.isin(['Denzel Washington']).any()

Series_Title    False
Genre           False
IMDB_Rating     False
Star1            True
Star2            True
Star3           False
Star4           False
Director        False
Gross           False
dtype: bool

# Getting all the movies where here acted

df.isin(['Denzel Washington']).any()

In [35]:
df= df[df.isin(['Denzel Washington']).any(1)]
df

,Series_Title,Genre,IMDB_Rating,Star1,Star2,Star3,Star4,Director,Gross
622,American Gangster,Biography,9,Denzel Washington,Russell Crowe,Chiwetel Ejiofor,Josh Brolin,Ridley Scott,130164645
644,Remember the Titans,Biography,9,Denzel Washington,Will Patton,Wood Harris,Ryan Hurst,Boaz Yakin,115654751
673,Glory,Biography,9,Matthew Broderick,Denzel Washington,Cary Elwes,Morgan Freeman,Edward Zwick,26830000
782,Man on Fire,Action,9,Denzel Washington,Christopher Walken,Dakota Fanning,Radha Mitchell,Tony Scott,77911774
802,Training Day,Crime,9,Denzel Washington,Ethan Hawke,Scott Glenn,Tom Berenger,Antoine Fuqua,76631907
818,Philadelphia,Drama,9,Tom Hanks,Denzel Washington,Roberta Maxwell,Buzz Kilman,Jonathan Demme,77324422
820,Malcolm X,Biography,9,Denzel Washington,Angela Bassett,Delroy Lindo,Spike Lee,Spike Lee,48169908
921,Inside Man,Crime,9,Denzel Washington,Clive Owen,Jodie Foster,Christopher Plummer,Spike Lee,88513495
952,The Hurricane,Biography,9,Denzel Washington,Vicellous Shannon,Deborah Kara Unger,Liev Schreiber,Norman Jewison,50668906

# In which genre he's played the most ?

In [38]:
df.loc[df.isin(['Denzel Washington']).any(1),'Genre']

622    Biography
644    Biography
673    Biography
782       Action
802        Crime
818        Drama
820    Biography
921        Crime
952    Biography
Name: Genre, dtype: object

# How many times

In [ ]:
df.loc[df.isin(['Denzel Washington']).any(1),'Genre'].value_counts()

# Count Tom Hanks an Denzel Washington movie

In [40]:
df[df['Star1'].isin(['Tom Hanks','Denzel Washington'])]

,Series_Title,Genre,IMDB_Rating,Star1,Star2,Star3,Star4,Director,Gross
622,American Gangster,Biography,9,Denzel Washington,Russell Crowe,Chiwetel Ejiofor,Josh Brolin,Ridley Scott,130164645
644,Remember the Titans,Biography,9,Denzel Washington,Will Patton,Wood Harris,Ryan Hurst,Boaz Yakin,115654751
782,Man on Fire,Action,9,Denzel Washington,Christopher Walken,Dakota Fanning,Radha Mitchell,Tony Scott,77911774
802,Training Day,Crime,9,Denzel Washington,Ethan Hawke,Scott Glenn,Tom Berenger,Antoine Fuqua,76631907
818,Philadelphia,Drama,9,Tom Hanks,Denzel Washington,Roberta Maxwell,Buzz Kilman,Jonathan Demme,77324422
820,Malcolm X,Biography,9,Denzel Washington,Angela Bassett,Delroy Lindo,Spike Lee,Spike Lee,48169908
921,Inside Man,Crime,9,Denzel Washington,Clive Owen,Jodie Foster,Christopher Plummer,Spike Lee,88513495
952,The Hurricane,Biography,9,Denzel Washington,Vicellous Shannon,Deborah Kara Unger,Liev Schreiber,Norman Jewison,50668906

# Group by director

In [52]:
 director = df.groupby(['Director'])

In [54]:
director.get_group('Spike Lee')

,Series_Title,Genre,IMDB_Rating,Star1,Star2,Star3,Star4,Director,Gross
820,Malcolm X,Biography,9,Denzel Washington,Angela Bassett,Delroy Lindo,Spike Lee,Spike Lee,48169908
921,Inside Man,Crime,9,Denzel Washington,Clive Owen,Jodie Foster,Christopher Plummer,Spike Lee,88513495

In [47]:
print(df_director)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021CCCE331C0>